section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 50px;
    box-sizing: border-box;

}

h1 {
    background: red;
    margin: 30px;
    padding: 50px;
    border-radius: 10px;
}